@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.active-link::after {
  content: "";
  position: absolute;
  bottom: -4px;  /* Adjust this value for your desired distance */
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #f97316;
  transition: opacity 0.3s ease;
}